@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&display=swap');

.jobPosting {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 19rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: transform 0.3s ease-in-out;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
/* .jobPosting:hover{
  transform: scale(1.02);
} */

p {
  margin: 10px 0;
  font: 600;
  width: 100%;
  text-align: left;
  text-transform: capitalize;
}

.companyDetails {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.companyDetails img {
  margin-top: 15px;
  margin-right: 10px;
  width: 18%;
  object-fit: cover;
  border-radius: 50%;
}
.profile {
  margin: 0.5rem 0 0 1rem;
}

.jobDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.jobDetails h2 {
  margin-top: 0;
  width: 100%;
  text-align: left;
}

.estimatedSalary {
  margin-top: 1rem;
}

.description {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0rem;
}

.descriptionBlur1 {
  position: absolute;
  width: 19rem;
  height: 2rem;
  margin: 5rem 0 0 0;
  backdrop-filter: blur(0.6px);
}
.descriptionBlur2 {
  position: absolute;
  width: 19rem;
  height: 1rem;
  margin-top: 7.5rem;
  backdrop-filter: blur(0.8px);
}

.showMore {
  background: transparent;
  margin-top: -1.2rem;
  z-index: 100;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: blue;
}

.easyApply {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #55efc4;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 95%;
  border-radius: 5px;
  margin: 5px 0;
}

.referral {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4943da;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 95%;
  border-radius: 5px;
  margin: 5px 0;
}

.icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
